.footer__column-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0 16px 0;
    align-self: center;
    list-style: none;
    padding-left:0;
  }