.kaufman__triangle { 
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: contain;
    height: 877px;
    width: 877px;
    right: -210px;
    top:0;
    position: absolute;
    z-index: 1;
    animation: rotation 20s infinite;
    }