.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;/* f */
}
        .header {
        position: relative;
        display: flex;
        background-color: #f2f2f2;
        justify-content: space-between;
        height: 100vh;
        min-height: 600px;
        max-height: 756px;
        overflow: hidden;
        z-index: 7;
}
.logo_place_header{
  position: absolute;
  z-index: 1000;
  left: 64px;
  top:30px;
  height: 32px;
  width: 183px;
  }
  .logo{
  z-index: 1000;
  height: 32px;
  width: 183px;
  }
.header__title{
    align-self: center;
    display: flex;
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 10;
  }
.header__subtitle{
  position: absolute;
  width: 388px;
  left:64px;
  bottom:30px;
  margin:0;
  line-height: 25px;
  font-size:18px;
  font-weight: normal;
  z-index: 10;
  }
.header__link{
  z-index: 4;
  color:#2f80ed;
  text-decoration: none;
  }
.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 6;
  }
  .header__square-pic{
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  z-index: 5;
}
.description{
display: flex;
justify-content: center;
padding-top:100px;
}
.two-columns{
display: flex;
justify-content: space-between;
width: 80%;
}
.two-columns__brief{
 line-height: 1.2;
 font-size:18px;
 font-weight: normal;
 width: 175px;
 color:#2f80ed;
 margin-top:0;
 margin-bottom:0;
}
.two-columns__main-text{
line-height: 34px;
font-size: 24px;
font-weight: normal;
width: 80%;
min-width: 784px;
}
.two-columns__paragraph{
  margin-bottom:30px;
  margin-top:0;
}
.two-columns__paragraph:last-child {
 margin-bottom:0; 
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
      .digits{
      padding-top:100px;
      }
.section-title{
margin: auto;
display:flex;
justify-content: center;
width: 60%;
line-height: 1.15;
font-size:60px;
font-weight:bold;
}
.section-subtitle{
 margin: 20px auto auto auto;
 display:flex;
 justify-content: center;
 width: 60%;
 line-height: 34px;
 font-size:24px;
 font-weight: normal;
}
.table{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  padding:0;
}
.table__cell{
width: 250px;
margin-top:60px;
list-style-type: none;
}
.table__heading{
line-height: 1.15;
font-size: 24px;
font-weight:bold;
margin-top:0;
margin-bottom:0;
}
.table__text{
line-height: 1.2;
font-size:18px;
font-weight:normal;
margin-top:20px;
margin-bottom:0;
}
    .feynman{
    height: 790px;
    position: relative;
    background-color: #f2f2f2;
    margin-top:100px;
    padding-top:100px;
    } 
.feynman__title{
width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
z-index: 4;

margin:0 auto;
position: relative;
text-align: center;

}
.feynman__subtitle{
position: relative;
text-align: center;
line-height: 51px;
font-size:36px;
font-weight: normal;
z-index: 4;
margin-bottom:0;
margin-top: 70px;

}
.feynman__image{
width: 867px;
height: 637px;
position: absolute;
left: 0;
bottom:0;
z-index: 3;
}
.feynman__link{
position: absolute;
top:50%;
right: 48px;
line-height: 51px;
font-size:36px;
font-weight: normal;
color: #2f80ed;
text-decoration:none;
}
        .kaufman{
        overflow: hidden;
        position: relative;
        background-color:#1f1f1f;
        }
.section-title_theme_dark{
display: flex;
justify-content: center;
margin:auto;
width: 60%;
color:white;
line-height: 1.15;
font-size:60px;
font-weight:bold;
padding-bottom:20px;
padding-top:90px;
z-index: 10;
position: relative;
}
.section-subtitle_theme_dark{
display: flex;
justify-content: center;
margin:auto;
width:60%;
color:white;
line-height:34px;
font-size:24px;
font-weight:normal;
z-index: 10;
position: relative;
}
.table__heading_theme_dark{
 line-height:1.15;
 font-size:24px;
 font-weight:bold;
 z-index: 2;
}
.table__text_theme_dark{
line-height:1.2;
font-size:18px;
font-weight:normal;
z-index: 2;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}
.table_theme_dark{
 padding-bottom:90px;
}
.kaufman__triangle { 
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  height: 877px;
  width: 877px;
  right: -210px;
  top:0;
  position: absolute;
  z-index: 1;
}
.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-around;
  color: white;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  
  
  width: 90%;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis:711px;
  
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /* color: white; */
  margin: 18px 0;
  
}
.footer__column_content_info{
  flex-direction: column;
  justify-content: flex-start;
  
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0 16px 0;
  align-self: center;
  list-style: none;
  padding-left:0;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top:0;
  margin-bottom:0;
}
.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__column_link{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.footer__social-icon{
margin-right:10px;
height:16px;
width:16px;
}